@import "tailwindcss";

html {
  scroll-behavior: smooth;
  
}
body{
  background: #000000;
}
/* تغيير لون السكرول في Chrome و Edge */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 0);
  border-radius: 6px; 
  }

::-webkit-scrollbar-thumb:hover {
  background-color: #28b700; 
}
.link{
  border-bottom: solid 2px #000000;
  transition: all 0.5s;
  
}
.link:hover{
  color: rgb(0, 201, 0);
  border-color: rgb(0, 201, 0);
}

.btn{
  background: rgb(0, 167, 0);
  padding: 5px 10px;
  border-radius: 7px;
  font-size: x-large;
  font-weight: bold;
}
.btn:active{
  scale: 1.1;
} 
.MopailDisplay{
  display: none;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 3s ease-in forwards;
}



@media (max-width:1200px) {
  .img{
    width: 500px;
  }
}
@media (max-width:866px) {
   .imeg-mobile{
    flex-direction: column-reverse;
    justify-content: center;
  } 
   .img{
    width: 300px;
  }
  .CenterText{
    width: 100%;
    text-align: center;
  }
}
@media (max-width:377px) {
  .img{
    width: 250px;
  }
}
@media (max-width:1200px) {
  .imgAbout{
    display: none;
  }
  .TextAboutMe{
    width: 100%;
    text-align: center;
  }
}
@media (max-width:733px) {
  .Advantages{
    grid-template-columns: repeat(2,1fr);
    font-size:large;
  }
}
@media (max-width:420px) {
  .Advantages{
    grid-template-columns: repeat(1,1fr); 
     font-size:medium;
  }
}
@media (max-width:788px) {
  .rsponsLink{
    display: none;
  }
  .MopailDisplay{
    display: block;
    color: white;
  }

}
@media (max-width:404px) {
   .responsWidth{
    width: 60px;
   }
   .MopailDisplay{
    font-size: 30px;
    
   }
}



.loader {
  width: 320px;
  height: 22px;
  border-radius: 20px;
  color: #22ff00;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}


